<!DOCTYPE html>
<html>
    <head>
        <!--Import Google Icon Font(Locally)-->
        <link href="css/materialicons.css" rel="stylesheet">
        
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

        <!-- Import Custom Stylesheet -->
        <link type="text/css" rel="stylesheet" href="css/style.css"/>

        <!-- Import Favicon -->
        <link rel="icon" href="images/favicon.png">
        
        <title>Welcome to EatCheck!</title>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>